---
extends: default

rules:
  line-length:
    max: 80
    level: error
  trailing-spaces:
    level: error
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
